h1{
    background-color: cornflowerblue;
 font-family: "Comic Sans MS";
}

h2 {
    color: mediumpurple;
    font-family: "Comic Sans MS";

}

p {
    color: lightpink;
    text-align: center;
    line-height: 160%;
    font-family: "Comic Sans MS";

}

li {
    color: skyblue;
    font-style: italic;
    text-align: center;
    font-family: "Comic Sans MS";
}
